<div class="task-posts-container">

    <div class="tasks">
        <label>Tasks</label><br/>
        <br/>
        <button (click)="newTaskToggle=true">New Task</button>
        <div class="task-list" *ngIf="!newTaskToggle">
            <div *ngFor="let task of user.tasks">
                <label>Title: {{task.title}}</label><br/>
                <label>Completed: {{task.completed}}</label>
                <br/>
                <button (click)="completeTask(task)" *ngIf="!task.completed">Mark as completed</button>
            </div>
    </div>
        <div class="new-task" *ngIf="newTaskToggle">
            <app-new-task (onNewTask)="addTask($event)" (onCancel)="cancelTask()"></app-new-task>
        </div>
    </div>


    <div class="posts">
        <label>Posts</label>
        <br/>
        <button (click)="newPostToggle=true">New Post</button>
        <div class="posts-list" *ngIf="!newPostToggle">
        <div *ngFor="let post of user.posts">
            <label>Title: {{post.title}}</label><br/>
            <label>Body: {{post.body}}</label>
        </div>
        </div>
        <div class="new-post" *ngIf="newPostToggle">
            <app-new-post (onNewPost)="addPost($event)" (onCancel)="cancelPost()"></app-new-post>
        </div>
    </div>


    <!-- <div>
        <app-task [tasks]="user.tasks"></app-task>
    </div>
    <div>
        <app-post [posts]="user.posts"></app-post>
    </div> -->
    
</div>
